#uploaded-message.alert style="display:none"
.page-header
  h4 品牌信息
  - if @brand.new_record?
    .well 品牌信息是在一个PDF格式文件，请上传，大小不超过20M。

= simple_form_for @brand, :url => @brand.new_record? ? admin_brands_path : admin_brand_path(@brand),:html => {class: 'form-horizontal', enctype: 'multipart/form-data', id: "fileupload"} do |f|
  table style="width:100%;"
    tr.fileupload-buttonbar
      td.span3
        span.btn.btn-primary.fileinput-button
          i class="icon-plus icon-white"
          span 上传PDF文件
          |  <input type="file" name="brand[pdf]">
      td.span9.fileupload-progress.fade
        .progress.progress-success.progress-striped.active role="progressbar" aria-valuemin="0" aria-valuemax="100"
          .bar style="width:0%;"
        .progress-extended &nbsp;
        .fileupload-loading
    - unless @brand.full_pdf_url.empty?
      tr
        td colspan="2"
          | 文件上传时间为
          = t2l @brand.updated_at
          | ， 以下仅为前#{@preview_pictures.length}页的预览图， 更多请
          = link_to '点击下载', @brand.full_pdf_url, target: '_blank'
          .help-block 如果更新PDF后预览图没有更新，请更新浏览器的缓存(Ctrl+F5)
      - @preview_pictures.each do |pic|
        tr
          td colspan="2"
            =image_tag(pic)
= render :partial => 'shared/file_upload'
- content_for :footer do
  javascript:
    $(document).ready(function(){
      $('#fileupload').fileupload();
      $('#fileupload').fileupload('option', {
        maxFileSize:30000000, // 30M
        acceptFileTypes:/(\.|\/)(pdf)$/i,
        autoUpload: true,
        uploadTemplate: function(o){
          var rows = $();
          $.each(o.files, function (index, file) {
            rows = rows.add($('<span>' + file.error + '</span>'));
          });
          return rows;
        }
      }).bind('fileuploadadded', function(e, data){
        var $msg = $('#uploaded-message');
        $msg.hide();
        if(!data.isValidated){
          $msg.html(data.context[0].innerHTML);
          $msg.addClass('alert-error');
          $msg.removeClass('alert-success');
          $msg.show('fast');
        }
      }).bind('fileuploaddone', function(e, data){
        var $msg = $('#uploaded-message');
        $msg.hide();
        $msg.html(data.result.message);
        $msg.addClass('alert-success');
        $msg.removeClass('alert-error');
        $msg.show('fast');
        if(1 == data.result.status){
          window.location.reload();
        }
      });
      if ($.support.cors) {
        $.ajax({
          maxChunkSize:30000000, // 30 MB
          url:$('#fileupload').fileupload('option', 'url'),
          dataType:'json',
          context:$('#fileupload')[0]
        }).always(function (result) {
          $(this).removeClass('fileupload-processing');
        });
      }
    });
