= content_for(:head_css) do
  = stylesheet_link_tag 'file_upload'

= content_for(:header) do
  noscript
    | <link rel="stylesheet" href="/css/jquery.fileupload-ui-noscript.css">

= content_for(:footer) do
  = javascript_include_tag 'file_upload'
  /[if lt IE 8]
    | <script src="/js/cors/jquery.xdr-transport.js"></script>

  |
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="chk">&nbsp;</td>
            <td class="preview"><span class="fade"></span></td>
            <td class="name" colspan="2"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">错误：</span> {%=file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0"
                     aria-valuemax="100" aria-valuenow="0">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </td>
            <td>{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>开始上传</span>
                </button>
                {% } %}
            </td>
            {% } else { %}
            <td colspan="2"></td>
            {% } %}
            <td>{% if (!i) { %}
                <button class="btn btn-warning btn-mini cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>取消</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            {% if (file.error) { %}
            <td></td>
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="3"><span class="label label-important">上传出错</span> {%=file.error%}</td>
            {% } else { %}
            <td><input type="checkbox" name="ids[]" value="{%=file.id%}" class="toggle"></td>
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" data-gallery="gallery" target="_blank"><img src="{%=file.thumbnail_url%}" alt="{%=file.name%}"></a>
                {% } %}
            </td>
            <td class="editable-blk" iid="{%=file.id%}">
              <span class="edit-text">{%=file.rank%}</span>
              <i class="icon-pencil"></i>
              <input type="text" name="rank" class="edit-input input-mini" value="{%=file.rank%}"/>
            </td>
            <td>{%=file.created_at%}</td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
            {% } %}
            <td>
                <button class="btn btn-danger btn-mini delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"
                {% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>删除</span>
                </button>
            </td>
        </tr>
        {% } %}
    </script>